* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgb(15, 59, 15)!important;
}

body {
  overflow: overlay;
  background: rgb(241, 241, 227);
}

.coordonates {
  margin-top: 5px;
  display: flex;
  align-items: right;
  justify-content: space-evenly;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  font-weight: 600;
  opacity: 0.8;
}

p:not(.user-info p) {
  margin-bottom: 0;
}

/* PAGE */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LEFT SIDE */
.user-info, .left-component {
  margin: 2rem 0rem;
  padding: 1rem 5rem;
}

.user-info img {
  width: 75%;
  height: auto;
  border: #4d8848 5px solid;
}

.coordonates i {
  font-size: x-large;
}

.coordonates a {
  text-decoration: none;
}

.left-component p:not(.small) {
  font-size: larger;
}

/* RIGHT SIDE */
.right-side {
  margin: 2rem;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-component {
  margin: 2rem 0rem;
}

.right-component p:not(.small) {
  font-size: larger;
}

.leaf1, .leaf2, .leaf3 {
  height: 15rem;
  width: 15rem;
	border-radius: 0 100px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(97, 168, 88, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  position: absolute;
}
.leaf2 {
  top: 30%;
  left: 13%;
  transform: rotate(11deg);
  z-index: 1!important;
}
.leaf3 {
  top: 80%;
  right: 13%;
  transform: rotate(85deg);
  z-index: 1!important;
}
main {
  position: relative;
  z-index: 2!important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .left-side {
    border-radius: 1rem;
    border-radius: 1rem;
  }
  
  .position-absolute {
    position: unset!important;
  }

  .top-0 {border-top:unset!important}
  .end-0 {border-right:unset!important}

}

@media screen and (max-width: 767px) {
  .left-side-info {
    display: none;
  }

  .right-component, .title {
    text-align: center;
  }

  p:not(.user-info p, .small) {
    font-size: small;
  }

  h2 {
    font-size: 1.3em;
  }

  .leaf1, .leaf2, .leaf3 {
    height: 12rem!important;
    width: 12rem!important;
  }
}

@media screen and (max-width: 575px) {
  .left-side {
    border-radius: 0;
    border-radius: 0;
  }
  .leaf1, .leaf2, .leaf3 {
      height: 9rem!important;
      width: 9rem!important;
    }
}